<html xmlns:ng="http://angularjs.org">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<!--[if lte IE 8]>
	<script>
		document.createElement('ng-include');
		document.createElement('ng-pluralize');
		document.createElement('ng-view');
		// Optionally these for CSS
		document.createElement('ng:include');
		document.createElement('ng:pluralize');
		document.createElement('ng:view');
	</script>
	<script type="text/javascript" src="lib/json2.js"></script>
	<![endif]-->
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/filter.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
</head>
<body>
	<div id="ng-app" ng-app="app" ng-controller="HelloController">
		<p>{{greeting.text}},World</p>
		<input type="text" focus ng-model="greeting.text" />
		<input type="text" ng-model="greeting.msg" />
		<p>{{greeting.msg | titleCase}}</p>
	</div>
</body>
</html>